/.idea/
/out/production/Advanced_Programming_Class/examples/randomDnaSequenceGenerator.class
/out/production/Advanced_Programming_Class/homework/lab2/AminoAcidTest.class
/out/production/Advanced_Programming_Class/homework/helloWorld/class_demo.class
/out/production/Advanced_Programming_Class/homework/lab4/FastaSequence.class
/out/production/Advanced_Programming_Class/homework/helloWorld/HelloWorld.class
/out/production/Advanced_Programming_Class/homework/lab1/RandomDnaSequenceGenerator.class
/out/production/Advanced_Programming_Class/homework/lab3/RandomSequenceGeneratorLab3.class
